tensorflow<=2.15.1
ultralytics
git+https://github.com/chirag-agrawal24/deepface.git
scikit-learn== 1.5.0
fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-google-genai
supabase
python-dotenv 
transformers
typing-extensions==4.10.0